################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyApp/.vs/CurrencyApp/v16
/CurrencyApp/bin/Debug
/CurrencyApp/obj/Debug
